/* Устанавливаем шрифт для всех элементов */
* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    font-weight: medium;
}

* QPushButton {
    border:none;
}

QScrollArea QWidget{
    background: #f4f4f4;
}

/* Фон основного окна */
#MainWindow {
    background-color: #f4f4f4;
}

/* Фон для меню */
#full_menu_widget,
#icon_menu_widget {
    background-color: #ffffff;
    border-right: 1px solid #000;
}

/* Стиль кнопок в меню с иконками */
#icon_menu_widget QPushButton {
    padding: 10px;
    width: 32px;
    height: 32px;
}

/* Стиль кнопок в полном меню */
#full_menu_widget QPushButton {
    text-align: left;
    padding: 10px;
    height: 32px;
    width: 200px;
}

/* Стиль при наведении на кнопку */
#full_menu_widget QPushButton:hover,
#icon_menu_widget QPushButton:hover {
    background-color: #f0f0f0;
    border: 1px solid #000;
}

/* Убираем стиль для кнопки меню */
#full_menu_widget #full_menu_toggle_button:hover,
#icon_menu_widget #icon_menu_toggle_button:hover {
    background-color: none;
    border: none;
}

/* Стиль при выбранной кнопки */
#full_menu_widget QPushButton:checked,
#icon_menu_widget QPushButton:checked {
    background-color: rgba(40, 128, 255, 0.5);
    border: 1px solid #000;
}

/* Стиль для заголовка */
#title {
    border-bottom: 2px solid #000;
}

/* Стиль текста в заголовке */
#title_text {
    font-size: 36px;
    margin: 0 30px 0 30px;
}

#stackedWidget AddEventWidget,
#stackedWidget EventWidget {
    background-color: #ffffff;
}

#stackedWidget AddEventWidget *,
#stackedWidget EventWidget * {
    background-color: transparent;
}

#stackedWidget EventContextMenu {
    background-color: transparent;
    border: 1px solid #000;
}

#stackedWidget EventContextMenu::item {
    background-color: #ffffff;
}

#stackedWidget EventContextMenu::item:selected {
    background-color: #000000;
    color: #ffffff;
}

/*#stackedWidget QAction {
    background-color: #ffffff;
}

#stackedWidget QAction:hover {
    background-color: #000000;
    color: #ffffff;
}*/

#stackedWidget QLineEdit {
    border: none;
}

/* Фон виджетов событий и задач, которые выполнены*/
/*#today_page #event_complete_widget {
    background-color: #eaeaea;
}*/

/* Фон элементов виджетов событий и задач, которые выполнены*/
/*#today_page #event_complete_widget *{
    background-color: transparent;
}*/

/* Фон элементов виджетов событий и задач, которые выполнены*/
/*#today_page QLineEdit {
    border:none;
}*/

/* Зачёркнутый текст виджетов событий и задач, которые выполнены */
/*#event_complete_text {
    text-decoration: line-through;
}*/

/* Стиль для всего виджета календаря */
QCalendarWidget * {
    border: none;
    text-transform: uppercase;
}

/* Стиль для календаря (представление дней и месяцев) */
#qt_calendar_calendarview {
    background-color: #ffffff;
    alternate-background-color: #ffffff;
    color: #000000;

    border: 2px solid #000;
    border-top: none;

    font-size: 16px;
    font-weight: 700;

    padding: 0px 20px 16px 20px;
}

/* Стиль для элементов (дней) в календаре */
#qt_calendar_calendarview::item {
    selection-background-color: #000000;
}

/* Стиль для текста и фона всех элементов (дней) в календаре */
#qt_calendar_calendarview::item * {
    color: #ffffff;
    background-color: #000000;
    selection-background-color: #000000;
}

/* Стиль для элемента календаря при наведении курсора */
#qt_calendar_calendarview::item:hover {
    border: 1px solid #000000;
    background-color: #ffffff;
    selection-background-color: #000000;
}

/* Стиль для выделенного элемента (дня) в календаре */
#qt_calendar_calendarview::item:selected {
    color: #ffffff;
    background-color: #000000;
    selection-background-color: #ffffff;
}

/* Стиль для панели навигации календаря */
#qt_calendar_navigationbar {
    background-color: #ffffff;
    color: #000000;

    border: 2px solid #000;
    border-bottom: none;

    min-height: 60px;
    text-align: center;
}

/* Стиль для кнопок перехода между месяцами (влево и вправо) */
#qt_calendar_prevmonth,
#qt_calendar_nextmonth {
    qproperty-icon: none;
    qproperty-iconSize: 16px 16px;
}

/* Стиль для кнопки перехода к предыдущему месяцу */
#qt_calendar_prevmonth {
    padding-left: 20px;
    image: url(:/resource/icons/Arrow_l.png);
}

/* Стиль для кнопки перехода к следующему месяцу */
#qt_calendar_nextmonth {
    padding-right: 20px;
    image: url(:/resource/icons/Arrow_r.png);
}

/* Стиль для кнопок выбора года и месяца */
#qt_calendar_yearbutton,
#qt_calendar_monthbutton {
    color: #000000;
    padding: 0 -7px;
}

/* Стиль для поля ввода года в календаре */
#qt_calendar_yearedit {
    color: #000000;
    background: transparent;
    min-width: 70px;
    selection-background-color: #000000;
}

/* Стиль для кнопок "вверх" и "вниз" в поле ввода года */
#qt_calendar_yearedit::down-button,
#qt_calendar_yearedit::up-button {
    height: 20px;
    width: 20px;
}

/* Стиль для кнопки "вниз" в поле ввода года */
#qt_calendar_yearedit::down-button {
    image: url(:/resource/icons/Arrow_down.png);
    subcontrol-position: right;
}

/* Стиль для кнопки "вверх" в поле ввода года */
#qt_calendar_yearedit::up-button {
    image: url(:/resource/icons/Arrow_up.png);
    subcontrol-position: left;
}

/* Стиль для выпадающего меню в кнопке календаря */
QCalendarWidget QToolButton QMenu {
    background-color: #ffffff;
    border: 1px solid #000;
}

/* Стиль для выделенного пункта в выпадающем меню */
QCalendarWidget QToolButton QMenu::item:selected:enabled {
    background-color: #000000;
    color: #ffffff;
}

/* Стиль для иконки меню на кнопке календаря */
QCalendarWidget QToolButton::menu-indicator {
    image: none;
}
